ipykernel
jupyter
pandas
langchain
langchain-community
langchain-core
langgraph
groq
openai
chromadb
faiss-cpu
sentence-transformers
pydantic
python-dotenv
fastapi
uvicorn
gradio
requests
beautifulsoup4
pandas
numpy
langchain_groq
gradio
duckdb
pandas
python-dotenv
tabulate
faker  
numpy 
tqdm 
pyarrow